*,
html,
body {
    background: rgb(0, 0, 0);
    scroll-behavior: smooth;
    color: #eee;
    font-family: "Roboto";
}


main{
    margin: 50px;
}

.how{
    margin-top: 20px;
}

.btn {
    padding: 6px 20px;
    border: none;
    color: #fff;
    background-color: #6e0000;
    text-align: center;
    cursor: pointer;
    margin-left: 10%;
}

@media(max-width:720px) {
    main{
        margin: 30px;
    }

    .btn{
        margin-left: 0;
        width: 100%;
    }
}