*,
html,
body {
    background: rgb(0, 0, 0);
    scroll-behavior: smooth;
    color: #000000;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1rem;
}

/*делаю свой "scrollbar"*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #6e0000;
    border: 1px solid #6e0000;
}

main {
    background-color: #000;
}

footer a {
    text-decoration: none;
    background-color: #000;
}

.navbar {
    background: rgb(0, 0, 0);
    font-family: Roboto;
}

.navbar a {
    text-decoration: none;
}

.table {
    left: 0;
    right: 0;
    top: 0;
}

.btn {
    padding: 6px 20px;
    border: none;
    color: #fff;
    background-color: #6e0000;
    text-align: center;
    cursor: pointer;
    border-radius: --bs-border-radius;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #6e0000;
    border-color: #6e0000;
}

.Lab {
    color: white;
    font-display: inherit;
    text-decoration: none;
}

.table hr {
    margin-top: 5%;
}

.md {
    color: white;
    font-display: inherit;
    text-decoration: none;
    margin-bottom: 1%;
}

.prmd {
    background-color: #000;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.dev-ers {
    background-color: #000;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 15%;
    margin-right: 15%;
    color: #fff;
}

.dev-ers a {
    color: #fff;
    background-color: #000;
}

img {
    left: 2px;
    border-radius: 50px;
}

@media(max-width:720px) {
    .prmd {
        margin-left: 1%;
        margin-right: 1%;
    }

    .dev-ers {
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }
}